<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>

<main>
    <header th:replace="/fragments/commons::nav"></header>

    <div>
        <h2 class="header">We are so sorry, but the page you are trying to see was not found!</h2>
        <h3 class="header">Please try going back to the <a th:href="@{/}">Home</a> page.</h3>
        <img class="error-image" src="/images/ProductNotFoundImg.png" alt="">
    </div>
</main>

<footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>