<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>

<main>
    <header th:replace="/fragments/commons::nav"></header>

    <div class="container">
        <h2 class="header">Oops, sorry, something went wrong!</h2>
        <h4 class="header">Return to Homepage: <a th:href="@{/}"></a></h4>
        <img class="error-image" src="/images/error500.png" alt="">
    </div>
</main>

<footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>