<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>

<main>
    <header th:replace="/fragments/commons::nav"></header>

    <div id="about" class="container">
        <h2 class="header">Our Story</h2>

        <p>
            In February 2012, I headed to Portland, OR for the 2012 West Coast Beard & Mustache Championships. I was
            about 8 months into my yeard and was competing in my first beard competition. It was at this event that I
            first experienced the bearded lifestyle at its fullest and simply put; I fell in love.
        </p>
        <p>Shortly after that event, I launched Beardbrand as a way to unite beardsmen and build a community. We first
            started off with a blog, a YouTube channel, and a Tumblr blog. On these platforms I shared my knowledge
            about growing a beard and provided style inspiration for others. Ultimately, the goal was to provide the
            tools necessary for men to feel confident about growing their beard, and I also wanted to end the negative
            stereotypes about beardsmen being lazy or unkempt.
        </p>
        <p>
            We continued blogging, making videos, and Tumbling for several months. It was very rewarding to share my
            experiences of growing out the yeard, and connecting with other individuals who struggled with my same
            challenges. Hopefully my words helped those growing beards get the tools needed to wear facial hair in the
            office, at home, and around their friends.
        </p>
        <p>
            Beardbrand was very small at this point, but I always had a larger vision for what it could become. Many
            people would doubt the potential of the company and call it a niche market with no room for growth (no pun
            intended). They would ask, "what happens when this beard fad ends?" The simple answer to this question is;
            "the shaving fad is ending now, and Beardbrand will be leading the charge."
        </p>
        <h5>From Community To Business</h5>
        <p>
            In fall of 2012, I attended a Startup Weekend event in Spokane, WA. I had this idea for a bearded tv host
            that profiles incredible beardsmen around the world. We would explore new cities and cultures, and tell
            incredible stories. I pitched the idea and got a lot of positive feedback, but not enough to be able to
            compete. Instead, my fate changed, and I joined a team that was led by Lindsey Reinders. That team contained
            a group of talented individuals - including Jeremy McGee.
        </p>
        <p>
            It was this Startup Weekend project that united us and we found out that the three of us work very well
            together. In fact, the team was so effective that we ended developing the best app for the competition.
            Lindsey, Jeremy, and I continued to stay in touch and vowed to start a business together.
        </p>
        <p>
            Beardbrand's community was moving along as normal, when I was contacted by a New York Times reporter. The
            reporter was doing a story on beard care products and wanted my expertise. She was also impressed with the
            small community that was starting to grow. The conversation with her was the catalyst that officially
            brought the team together to launch the Beardbrand store.
        </p>
        <p>
            Our newly found team bootstrapped the business and started with only $30 and a commitment from a vendor. We
            hustled and pieced together a store which launched the day before the article posted.
        </p>
        <p>
            From that day, the business has grown consistently month over month. We've done it by connecting with our
            customers and by providing great products and service. We do things the old fashioned way - we buy our
            inventory, respond to our customers, and sell only products we personally believe in.
        </p>
        <p>
            Lindsey Reinders handles the product procurement and wholesale management; Jeremy McGee takes care of
            operations and strategy; and I'm the spokesman and marketing guy. Together we form a united and productive
            team, always on the same page regarding the vision, culture, and outlook of the business.
        </p>
        <h5>Our Vision</h5>
        <p>
            We were tired of beards being left to kitschy, cheap products. We felt these items are the reason many
            people think that beards are a fad. Beardbrand wants to bring high quality products for beardsmen. Our
            grooming products use natural products and we want our customers to have a positive experience with their
            beards - crappy products don't help in that regard.
        </p>
        <p>
            In addition to providing great products and service, we want to change the way society looks at beardsmen.
            There are still organizations who require men to shave, and there is negative terminology used towards
            beardsmen that still lingers in our culture. For instance, the term "clean-shaven" should be
            "completely-shaven" or "beardless."
        </p>
        <p>
            These changes take time, but progress is being made. Recently Disney eased their policy on beards and other
            companies are joining suit. We can't do this alone, and we need you to help us change society. Connect with
            us by joining the mailing list below, and most importantly - beard on!
        </p>
        <h5>Our Guiding Statement</h5>
        <p>
            <strong>VISION STATEMENT:</strong> To change the way society views beardsmen.
            <br>
            <strong>MISSION STATEMENT:</strong> To make men awesome.
        </p>
    </div>
</main>

<footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>