<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>

<body>

<header th:replace="/fragments/commons::nav"></header>

<h3 class="header">Add New Product</h3>

<main class="add-product-form">

<!--    <h6 th:if="${productAddedSuccessfully == true}" class="success-message border-dark rounded visually-hidden">-->
<!--        Product added successfully.-->
<!--    </h6>-->

    <form class="px-4 py-3" th:action="@{/products/add}" th:method="POST" th:object="${addProductBindingModel}">
        <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input th:field="*{productName}" th:errorclass="is-invalid" type="text" class="form-control" id="productName">
            <small class="invalid-feedback bg-danger text-light rounded">
                Product name has to be at least 3 symbols long.
            </small>
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description</label>
            <input th:field="*{description}" th:errorclass="is-invalid" type="text" class="form-control" id="productDescription">
            <small class="invalid-feedback bg-danger text-light rounded">
                Product description has to be at least 5 symbols long.
            </small>
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Manufacturer</label>
            <input th:field="*{manufacturer}" th:errorclass="is-invalid" type="text" class="form-control" id="productManufacturer">
            <small class="invalid-feedback bg-danger text-light rounded">
                Manufacturer cannot be blank.
            </small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select th:field="*{category}" class="form-control" id="exampleFormControlSelect1">
                <option th:each="c : ${T(com.example.beardculture.model.entity.enums.CategoryNameEnum).values()}
"                       th:value="${c}" th:text="${c}">Oil</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="productQuantity" class="form-label">Quantity</label>
            <input th:field="*{quantity}" th:errorclass="is-invalid" type="text" class="form-control" id="productQuantity">
            <small class="invalid-feedback bg-danger text-light rounded">
                Quantity has to be a positive number.
            </small>
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Product Price</label>
            <input th:field="*{price}" th:errorclass="is-invalid" type="text" class="form-control" id="productPrice">
            <small class="invalid-feedback bg-danger text-light rounded">
                Price has to be greater than 0 and not blank.
            </small>
        </div>
        <div class="mb-3">
            <label for="imageUrl" class="form-label">Image Url</label>
            <input th:field="*{imageUrl}" th:errorclass="is-invalid" type="text" class="form-control" id="imageUrl">
            <small class="invalid-feedback bg-danger text-light rounded">
                Image URL cannot be blank.
            </small>
        </div>
        <button id="add-product-btn" type="submit" class="btn btn-primary">Add Product</button>
    </form>
</main>

<footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>