<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>

<body>

<header th:replace="/fragments/commons::nav"></header>

<h3 class="header">Add New Product</h3>

<main class="add-product-form">

    <form class="px-4 py-3" th:action="@{/products/add}" th:method="POST" th:object="${addProductBindingModel}">
        <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input th:field="*{productName}" type="text" class="form-control" id="productName">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description</label>
            <input th:field="*{description}" type="text" class="form-control" id="productDescription">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Manufacturer</label>
            <input th:field="*{manufacturer}" type="text" class="form-control" id="productManufacturer">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select th:field="*{category}" class="form-control" id="exampleFormControlSelect1">
                <option th:each="c : ${T(com.example.beardculture.model.entity.enums.CategoryNameEnum).values()}
"                       th:value="${c}" th:text="${c}">Oil</option>
<!--                <option>Balm</option>-->
<!--                <option>Gear</option>-->
            </select>
        </div>
        <div class="mb-3">
            <label for="productQuantity" class="form-label">Quantity</label>
            <input th:field="*{quantity}" type="text" class="form-control" id="productQuantity">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Product Price</label>
            <input th:field="*{price}" type="text" class="form-control" id="productPrice">
        </div>
        <div class="mb-3">
            <label for="imageUrl" class="form-label">Image Url</label>
            <input th:field="*{imageUrl}" type="text" class="form-control" id="imageUrl">
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</main>

<footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>