<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>
<header th:replace="/fragments/commons::nav"></header>

<main class="product-list">
    <h3 class="header">Beard Balms</h3>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-lg-4 card">
                <img src="/images/balm.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to box</a>
                    <a href="/products/details" class="btn btn-primary">Details</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <div class="col-sm-2 col-lg-4 card">
                <img src="/images/balm.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to box</a>
                    <a href="#" class="btn btn-primary">Details</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <div class="col-sm-2 col-lg-4 card">
                <img src="/images/balm.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to box</a>
                    <a href="#" class="btn btn-primary">Details</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <div class="col-sm-2 col-lg-4 card">
                <img src="/images/balm.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to box</a>
                    <a href="#" class="btn btn-primary">Details</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <div class="col-sm-2 col-lg-4 card">
                <img src="/images/balm.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to box</a>
                    <a href="#" class="btn btn-primary">Details</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <div class="col-sm-2 col-lg-4 card">
                <img src="/images/balm.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to box</a>
<!--                    <a th:href="@{/products/details/{id} (id = *{})}" class="btn btn-primary">Details</a>-->
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/fragments/commons::footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>
</body>
</html>