<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>
<header th:replace="/fragments/commons::nav"></header>

<main>
    <div class="image-container ">
        <img class="background-image" src="images/background.jpg" alt="">
        <p class="text-in-home-image">In addition to providing great products and service, we want to change the way society looks at beardsmen.
            There are still organizations who require men to shave, and there is negative terminology used towards
            beardsmen that still lingers in our culture. For instance, the term "clean-shaven" should be
            "completely-shaven" or "beardless." These changes take time, but progress is being made. Recently Disney eased their policy on beards and other
            companies are joining suit. We can't do this alone, and we need you to help us change society. Connect with
            us by joining the mailing list below, and most importantly - beard on!</p>
    </div>
</main>

<footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>