<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>

<body>

<header th:replace="/fragments/commons::nav"></header>

<main class="login-and-register-form">
    <form class="px-4 py-3" th:action="@{/users/register}" th:method="POST" th:object="${userRegisterBindingModel}">
        <div class="mb-3">
            <label class="form-label">Username</label>
                <input th:field="*{username}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Username">
            <small class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input th:field="*{email}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="email@example.com">
            <small class="invalid-feedback bg-danger text-light rounded">
                Please provide valid email.
            </small>
        </div>
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input th:field="*{firstName}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="First Name">
            <small class="invalid-feedback bg-danger text-light rounded">
                First Name has to be between 2 and 20 letters long.
            </small>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input th:field="*{lastName}" type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input th:field="*{password}" th:errorclass="is-invalid" type="password" class="form-control" placeholder="Password">
            <small class="invalid-feedback bg-danger text-light rounded">
                Password has to be between 6 and 20 symbols.
            </small>
        </div>
        <div class="mb-3">
            <label class="form-label">Repeat Password</label>
            <input th:field="*{repeatPassword}" type="password" class="form-control" placeholder="Repeat Password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <br>
    <div>Already have an account? <a href="/users/login">Login</a></div>
</main>

<footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>