.navbar {
    background-color: #FFD700;
    margin: auto;
    color: #1a1e21;
    font-family: Georgia, serif;
    font-weight: bolder;
}

.user-manual {
  text-align: right;
}

.card {
    width: 20rem;
    margin: 10px 5px 10px 5px;
    display: inline-block;
    border-radius: 20px;
    border-color: #FFD700;
}

.header {
    text-align: center;
    color: #FFD700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 20px 0 30px 0;
    font-family: "Lucida Handwriting", serif;
}

.card a:hover{
    background-color: #404040;
    color: #FFD700;
}

.btn {
    background-color: #FFD700;
}

.btn:hover{
    background-color: #404040;
    color: #FFD700;
}

.background-image{
    max-width:100%;
    max-height:100%;
    padding: 15px 0 15px 0;
}

.text-in-home-image {
    position: absolute;
    top: 20%;
    right: 20%;
    color: #FFD700;
}

.login-and-register-form{
    padding: 100px 400px 200px 400px;
    align-content: center;
}

.add-product-form{
    padding: 100px 400px 200px 400px;
    align-content: center;
}

.card-img-top{
    width: 280px;
    height: 280px;
}

.product-image img{
    width: 60%;
    height: 60%;
    margin: 50px 50px 100px 150px;
}

.product-details{
    margin-block: auto;
}

.description{
    margin-right: 50px;
}

.active-btn{
    background-color: #404040;
    color: #FFD700;

}

.my-account-page{
    padding: 100px 200px 200px 200px;
}

.my-account-btn{
    height: 50px;
    width: 200px;
}

.divider{
    width:auto;
    height:5px;
    display:inline-block;
}

.remove-from-box-btn{
    float: right;
}

.admin-orders-view{
    text-align: center;
    padding: 30px;
}

.admin-panel-buttons{
    text-align: center;
    padding: 0 0 70px 0;
}

#logout-btn{
    background-color: #FFD700;
    font-family: Georgia, serif;
}

#address-img{
    width: 500px;
    height: 500px;
}

#address-container{
    text-align: center;
}
#address-row div{
    padding: 10px;
    display: inline-block;
}

.privacy-policy{
    padding: 20px;
}

.footer-basic {
    padding:20px 0;
    background-color:#FFD700;
    color:#404040;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #404040;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#404040;
    margin-bottom:0;
}